@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.pdf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdf-page {
  border: 1px solid #ddd;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: black;
}

.annotation-modal {
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1000;
}

.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-header {
  cursor: move;
  /* background-color: #f0f0f0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black; */
}

.close-button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
}

.custom-number::-webkit-outer-spin-button,
.custom-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number {
  -moz-appearance: textfield;
}

.annotation-textarea {
  width: 100%;
  height: 80%;
  margin-top: 10px;
  box-sizing: border-box;
  color: black;
  resize: none;
}

.save-button {
  margin-top: 10px;
  cursor: pointer;
  color: black;
  background: none;
  border: 1px solid black;
  padding: 5px 10px;
  align-self: flex-end;
}

.tumbnail-card {
  border-color: red;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
